@import 'tailwindcss'


/* @theme {
    --color-orange-primary : #f26af2;
    --color-green-primary : #77b255;
    --color-brown-primary : #3E2C24;
    --color-white-primary : #FAF8F5;
    --color-gray-primary : #2F2F2F;
    --color-red-secondary : #FF4D4D;
    --color-yellow-secondary : #ffc542;
    --color-green-secondary : #A0E49F;
    --color-gray-secondary : #E0E0E0;
    --color-orange-tertiary : #d85b15; 
} */